<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/logo/logo.png" type="image/x-icon">
    <link rel="shortcut icon" href="/logo/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/header.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Erreur</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .error-message {
            text-align: center;
            color: #ff0000; /* Rouge */
            font-size: 24px;
        }
    </style>
</head>
<body>
<header th:insert="~{header.html :: header}"> </header>
<div class="error-message">
    Une erreur est survenue.
</div>
</body>
</html>
